<!DOCTYPE html>
<html lang='en'>
  <head>
    {% include 'head' %}
    {% comment %}
      Required by Shopify and can't be moved to a snippet
    {% endcomment %}
    {{ content_for_header }}
  </head>
  <body id="{{ page_title | handle }}" class="{{ template | replace: '.', ' ' | truncatewords: 1, '' | handle }}" >

    {% comment %}
      Begin layout stuff
    {% endcomment %}

    {% include 'header' %}
    {{ content_for_layout }}
    {% include 'footer' %}

    {% comment %}
      END layout stuff
    {% endcomment %}

    {% include 'bottom' %}

  </body>
</html>
