<header>
  <h1>Collections</h1>
</header>

{% paginate collections by 20 %}
  <ul class="collections-list">
    {% for collection in collections %}
      {% include 'collection-item' %}
    {% endfor %}
  </ul>

  {% if paginate.pages > 1 %}
    <nav class="pagination">
      {{ paginate | default_pagination }}
    </nav>
  {% endif %}
{% endpaginate %}
